export(
  kgroups,
  ClusterLevel,
  Clusters,
  KgroupAdd,
  KgroupsPoint,
  KgroupsPair,
  OnePass,
  PairOnePass,
  between_cluster,
  distance_components
)

importFrom("stats", "as.dist", "dist", "model.matrix")
importFrom("energy", "edist", "disco")

S3method(print, kgroups)
S3method(fitted, kgroups)
S3method(summary, kgroups)

